@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

input[type='file'] {
    display: none
  }

.btCancelar{
    font-size: 70%;
    margin-top: -5%;
    color: rgba(167, 167, 167, 0.644);
}