@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


.btSair{
    color: #3880ff;
}

ion-avatar{
    width: 20%;
    min-height:50vmin;
}

.gridEmpresa{
    visibility: hidden;
}
.listEmpresa{
    visibility: hidden;
}
.salvarEmpresa{
    visibility: hidden;
}