<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="1">
        <p><ion-text size="small"  color="primary" id="txNome">Nome</ion-text></p>
        <ion-input [(ngModel)]="nomeCadastro" (ionBlur)="perdaFocoNomeCad()" id="tbCardNomeCadastro" placeholder="nome completo"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1">
        <p><ion-text size="small"  color="primary" id="txEmail">Email</ion-text></p>
        <ion-input type="email" [(ngModel)]="emailCadastro" (ionBlur)="perdaFocoEmailCad()" id="tbCardEmailCadastro" placeholder="nome@dominio.com"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1">
        <p><ion-text size="small"  color="primary">CPF (opcional)</ion-text></p>
        <ion-input [(ngModel)]="cpfUsuario" id="tbCardCpfCadastro" placeholder="xxx.xxx.xxx-xx"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1">
        <p><ion-text size="small"  color="primary">Senha</ion-text></p>
        <ion-input type="password" [(ngModel)]="senhaCadastro" (ionBlur)="perdaFocoSenhaCad()" (keydown)="keyPressSenhaCad()" class="tbCardSenhaCadastro" id="tbCardSenhaCadastro" placeholder="********"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="divValidacaoSenha" id="divValidacaoSenha">
      <ion-col offset="2">
        <p><ion-text id="txValidacaoDigitos">Mínimo de 8 caracteres.</ion-text></p>
        <p><ion-text id="txValidacaoLetrasNumeros">Números.</ion-text></p>
        <p><ion-text id="txValidacaoLetrasM">Letras maiúsculas e minúsculas.</ion-text></p>
        <p><ion-text id="txValidacaoCaracEspeciais">Caracteres especiais (Ex: *,@/\).</ion-text></p>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1">
        <p><ion-text size="small"  color="primary">Confirmar Senha</ion-text></p>
        <ion-input type="password" [(ngModel)]="confirmarSenhaCadastro" (ionBlur)="perdaFocoConfirSenhaCad()" class="tbCardConfirmarSenhaCadastro" id="tbCardConfirmarSenhaCadastro" placeholder="********"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="0">
        <ion-button expand="full" (click)="createUser()">Criar Conta</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="0">
        <ion-button size="small" fill="none" (click)="cancelarCadastro()" class="btCancelar">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>