<div class="cardCadastro" id="cardCadastro">
    <div class="divImgLogoCadastro">
      <img src="../../assets/imageCadastro.png" class="divImgLogoCadastro"/>
    </div>

  <p class="txCardNomeCadastro" id="txCardNomeCadastro"><b>Nome</b></p>
  <ion-input type="text" [(ngModel)]="nomeCadastro" (ionBlur)="perdaFocoNomeCad()" (ionFocus)="openKeyboardCel()" class="tbCardNomeCadastro" id="tbCardNomeCadastro" placeholder="nome completo"></ion-input>
  <p class="txCardNomeCadastroInvalido" id="txCardNomeCadastroInvalido">Nome inválido!</p>
  <p class="txCardEmailCadastro" id="txCardEmailCadastro"><b>E-email</b></p>
  <ion-input type="text" [(ngModel)]="emailCadastro" (ionBlur)="perdaFocoEmailCad()" (ionFocus)="openKeyboardCel()" class="tbCardEmailCadastro" id="tbCardEmailCadastro" placeholder="nome@dominio.com"></ion-input>
  <p class="txCardEmailCadastroInvalido" [(ngModel)]="txEmailCadastroInvalido" id="txCardEmailCadastroInvalido">{{txEmailCadastroInvalido}}</p>
  <p class="txCardCNPJCadastro" id="txCardCNPJCadastro"><b>CNPJ Empresa (opcional)</b></p>
  <ion-input type="tel" pattern=".{10,11}[0-9]+$" maxlength="15" [(ngModel)]="CNPJCadastro" (ionBlur)="perdaFocoCNPJCad()"  (ionFocus)="openKeyboardCel()" (keyup)="keyPressCNPJ()" class="tbCardCNPJCadastro" id="tbCardCNPJCadastro" placeholder="xxx.xxx/0001-xx"></ion-input>
  <p class="txCardCNPJCadastroInvalido" id="txCardCNPJCadastroInvalido">CNPJ inválido!</p>
  <p class="txCardSenhaCadastro" id="txCardSenhaCadastro"><b>Senha</b></p>
  <ion-input type="password" [(ngModel)]="senhaCadastro" (ionBlur)="perdaFocoSenhaCad()" (ionFocus)="openKeyboardCel()" (keydown)="keyPressSenhaCad()" class="tbCardSenhaCadastro" id="tbCardSenhaCadastro" placeholder="********"></ion-input>
  <p class="txCardSenhaCadastroInvalida" id="txCardSenhaCadastroInvalida">Senha Incorreta!</p>
  <div class="divValidacaoSenha" id="divValidacaoSenha">
    <div class="validacaoDigitos" id="validacaoDigitos"><p class="txValidacaoDigitos" id="txValidacaoDigitos">Mínimo de 8 caracteres.</p></div>
    <div class="validacaoLetrasNumeros" id="validacaoLetrasNumeros"><p class="txValidacaoLetrasNumeros" id="txValidacaoLetrasNumeros">Números.</p></div>
    <div class="validacaoLetrasM" id="validacaoLetrasM"><p class="txValidacaoLetrasM" id="txValidacaoLetrasM">Letras maiúsculas e minúsculas.</p></div>
    <div class="validacaoCaracEspeciais" id="validacaoCaracEspeciais"><p class="txValidacaoCaracEspeciais" id="txValidacaoCaracEspeciais">Caracteres especiais (Ex: *,@/\).</p></div>
  </div>
  <p class="txCardConfirmarSenhaCadastro" id="txCardConfirmarSenhaCadastro"><b>Confirmar Senha</b></p>
  <ion-input type="password" [(ngModel)]="confirmarSenhaCadastro" (ionFocus)="openKeyboardCel()" (ionBlur)="perdaFocoConfirSenhaCad()" class="tbCardConfirmarSenhaCadastro" id="tbCardConfirmarSenhaCadastro" placeholder="********"></ion-input>
  <p class="txCardConfirmarSenhaCadastroInvalida" id="txCardConfirmarSenhaCadastroInvalida">Senhas diferentes!</p>
  <ion-button class="btCadastrarUsuario" id="btCadastrarUsuario" (click)="createUser()">Cadastrar</ion-button>
  <div class="btCancelarCadastro" id="btCancelarCadastro" (click)="cancelarCadastro()">Cancelar</div>
</div>