<ion-content class="cardSlider" id="cardSlider">

  <ion-card>
  <ion-slides pager class="slidesInitial" #slideInicial1>
    <ion-slide class="slide">
      <ion-card class="cardUm">
        <ion-card-header>
          <h1>Olá!</h1>
          <h4>Seja bem vindo(a) ao <b>Controle de Estoque</b>!</h4>  
        </ion-card-header>
        <ion-card-content>
          <img src="../../assets/firstImage.png" class="imgSlidesInitial"/>
        </ion-card-content>
        <h2 ion-button color="secondary" class="btTelaLoginCadastro" (click)="avancarSlider()" clear>Próximo</h2>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide" #slideInicial2>
      <ion-card class="cardUm">
        <ion-card-header>
          <h1 class="txTituloSlideDois">Atenção!</h1>
          <img class="imgSlideInicialDois" src="../../assets/secondImage.png"/>
        </ion-card-header>
        <ion-card-content class="txSlideDois">
          <p>Nosso aplicativo encontra-se em desenvolvimento, sendo assim, é normal que ocorra alguns bugs, mas estaremos correndo para arruma-los e entregar a melhor versão do aplicativo para você!</p>
          <p><br><b>Obrigado!</b></p>
        </ion-card-content>
        <h2 ion-button color="secondary" class="btTelaLoginCadastro" (click)="continuaTelaLoginCadastro()" clear>Continuar</h2>
      </ion-card>
    </ion-slide>
  </ion-slides>
  </ion-card>
</ion-content>


<div class="cardLogin" id="cardLogin">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  <div class="subCardLogin" id="subCardLogin">
    <div class="divImgLogoInicial">
      <img src="../../assets/imageLogin.png" class="divImgLogoInicial"/>
    </div>
    
    <p class="txCardEmail"><b>E-email</b></p>
    <ion-input type="text" [(ngModel)]="emailLogin" class="tbCardEmail" id="tbCardEmail" placeholder="nome@dominio.com"></ion-input>
    <p class="txCardEmailInvalido" id="txCardEmailInvalido">E-email inválido!</p>
    <p class="txCardSenha"><b>Senha</b></p>
    <ion-input type="password" [(ngModel)]="senhaLogin" class="tbCardSenha" id="tbCardSenha" placeholder="********"></ion-input>
    <p class="txCardSenhaInvalida" id="txCardSenhaInvalida">Senha Incorreta!</p>

    <ion-button class="btEntrar" id="btEntrar" expand="full" (click)="loginUser()">Entrar</ion-button>
    <div class="btCadastrar" (click)="abrirPopUpCadastro()">Não possui conta? Registre-se agora!</div>

    <div class="divSeparadorLogin"></div>
    <p class="txOu">ou</p>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <div class="google-btn" (click)="loginWithGoogle()">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
      </div>
      <p class="btn-text">Entrar com Google</p>
    </div>

    <div class="facebook-btn" (click)="loginWithFacebook()">
      <div class="facebook-icon-wrapper">
        <img class="facebook-icon" src="../../assets/logoFacebook.png"/>
      </div>
      <p class="btn-text-facebook">Entrar com Facebook</p>
    </div>  
  </div>
</div>


<div class="cardCadastro" id="cardCadastro">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <div class="subCardCadastro" id="subCardCadastro">

    <div class="divCadastroPessoaFisica" id="divCadastroPessoaFisica" (click)="cadastrarPessoaFisica()">
      <p class="txCadastroPessoaFisica" id="txCadastroPessoaFisica">Pessoa Fisica</p>
    </div>
    <div class="divCadastroPessoaJuridica" id="divCadastroPessoaJuridica" (click)="cadastrarPessoaJuridica()">
      <p class="txCadastroPessoaJuridica" id="txCadastroPessoaJuridica">Pessoa Juridica</p>
    </div>

    <p class="txCardNomeCadastro" id="txCardNomeCadastro"><b>Nome</b></p>
    <ion-input type="text" [(ngModel)]="nomeCadastro" (ionBlur)="perdaFocoNomeCad()" class="tbCardNomeCadastro" id="tbCardNomeCadastro" placeholder="nome completo"></ion-input>
    <p class="txCardNomeCadastroInvalido" id="txCardNomeCadastroInvalido">Nome inválido!</p>
    <p class="txCardEmailCadastro" id="txCardEmailCadastro"><b>E-email</b></p>
    <ion-input type="text" [(ngModel)]="emailCadastro" (ionBlur)="perdaFocoEmailCad()" class="tbCardEmailCadastro" id="tbCardEmailCadastro" placeholder="nome@dominio.com"></ion-input>
    <p class="txCardEmailCadastroInvalido" [(ngModel)]="txEmailCadastroInvalido" id="txCardEmailCadastroInvalido">{{txEmailCadastroInvalido}}</p>
    <p class="txCardCNPJCadastro" id="txCardCNPJCadastro"><b>CNPJ Empresa</b></p>
    <ion-input type="tel" pattern=".{10,11}[0-9]+$" maxlength="15" [(ngModel)]="CNPJCadastro" (ionBlur)="perdaFocoCNPJCad()" (keyup)="keyPressCNPJ()" class="tbCardCNPJCadastro" id="tbCardCNPJCadastro" placeholder="xxx.xxx/0001-xx"></ion-input>
    <p class="txCardCNPJCadastroInvalido" id="txCardCNPJCadastroInvalido">CNPJ inválido!</p>
    <p class="txCardSenhaCadastro" id="txCardSenhaCadastro"><b>Senha</b></p>
    <ion-input type="password" [(ngModel)]="senhaCadastro" (ionBlur)="perdaFocoSenhaCad()" (keydown)="keyPressSenhaCad()" class="tbCardSenhaCadastro" id="tbCardSenhaCadastro" placeholder="********"></ion-input>
    <p class="txCardSenhaCadastroInvalida" id="txCardSenhaCadastroInvalida">Senha Incorreta!</p>
    <div class="divValidacaoSenha" id="divValidacaoSenha">
      <div class="validacaoDigitos" id="validacaoDigitos"><p class="txValidacaoDigitos" id="txValidacaoDigitos">Mínimo de 8 caracteres.</p></div>
      <div class="validacaoLetrasNumeros" id="validacaoLetrasNumeros"><p class="txValidacaoLetrasNumeros" id="txValidacaoLetrasNumeros">Números.</p></div>
      <div class="validacaoLetrasM" id="validacaoLetrasM"><p class="txValidacaoLetrasM" id="txValidacaoLetrasM">Letras maiúsculas e minúsculas.</p></div>
      <div class="validacaoCaracEspeciais" id="validacaoCaracEspeciais"><p class="txValidacaoCaracEspeciais" id="txValidacaoCaracEspeciais">Caracteres especiais (Ex: *,@/\).</p></div>
    </div>
    <p class="txCardConfirmarSenhaCadastro" id="txCardConfirmarSenhaCadastro"><b>Confirmar Senha</b></p>
    <ion-input type="password" [(ngModel)]="confirmarSenhaCadastro" (ionBlur)="perdaFocoConfirSenhaCad()" class="tbCardConfirmarSenhaCadastro" id="tbCardConfirmarSenhaCadastro" placeholder="********"></ion-input>
    <p class="txCardConfirmarSenhaCadastroInvalida" id="txCardConfirmarSenhaCadastroInvalida">Senhas diferentes!</p>
    <ion-button class="btCadastrarUsuario" id="btCadastrarUsuario" (click)="createUser()">Cadastrar</ion-button>
    <div class="btFecharPopUpCadastro" id="btFecharPopUpCadastro" (click)="fecharPopUpCadastro()">Cancelar</div>

  </div>
</div>