.cardSlider{
    visibility: visible;
}
//**alterar

.slidesInitial{
    position: fixed;
    width: 104%;
    height: 100%;
    left: -2.5%;
}

.slide{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.cardUm{
    position: relative;
    width: 100%;
    height: 100%;
}

h1{
    position: fixed;
    top: 10%;
    left: 40%;
    font-size: 300%;
    color: #3880ff;
}

h4{
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;

}

b{
    color: #3880ff;
}

.imgSlidesInitial{
    position: fixed;
    top: 35%;
    left: 0%;
}

.txTituloSlideDois{
    left: 31%;
}

.imgSlideInicialDois{
    position: fixed;
    top: 20%;
    left: 0%;
}

.txSlideDois{
    position: fixed;
    text-align: justify;
    top: 60%;
    left: 10%;
    width: 80%;
}

.btTelaLoginCadastro{
    position: fixed;
    height: 5%;
    width: 18%;
    top: 92%;
    left: 80%;
    font-size: 110%;
    color: #3880ff;
}





//**Alterar
.cardLogin{
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/PlanoFundo.jpg");
    filter: blur(0px);
    z-index: 1;
}
.divImgLogoInicial{
    position: fixed;
    top: 5%;
    left: 0%;
    width: 100%;
    border-radius: 50%;
}
.subCardLogin{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    border-style: solid;
    border-color: #3881ff38;
    background-color: white;
    // border-top-left-radius: 50px;
    z-index: 2;
}

.txCardEmail{
    position: fixed;
    top: 42%;
    left: 25%;
    height: 2%;
    width: 10%;
    color: black;
    background-color: white;
    font-size: 70%;
    z-index: 10;
}
.tbCardEmail{
    position: fixed;
    top: 44.7%;
    left: 23.2%;
    height: 5.5%;
    width: 50%;
    color: black;
    border-style: solid;
    border-color: transparent;
    --padding-top: 6%;
    z-index: 9;
}
.txCardEmailInvalido{
    position: fixed;
    visibility: hidden;
    top: 49%;
    left: 25%;
    height: 5%;
    width: 50%;
    color: red;
    font-size: 60%;
}
.txCardSenha{
    position: fixed;
    top: 51%;
    left: 25%;
    height: 2%;
    width: 9%;
    color: black;
    background-color: white;
    font-size: 70%;
    z-index: 10;
}
.tbCardSenha{
    position: fixed;
    top: 53.7%;
    left: 23%;
    height: 5.5%;
    width: 50%;
    color: black;
    border-style: solid;
    border-color: transparent;
    --padding-top: 10%;
    z-index: 9;

}
.txCardSenhaInvalida{
    position: fixed;
    visibility: hidden;
    top: 58%;
    left: 25%;
    height: 5%;
    width: 50%;
    color: red;
    font-size: 60%;
}



.btEntrar{
    position: fixed;
    top: 61%;
    left: 21%;
    width: 60%;    
    z-index: 1;
    --padding-start: 6%;
}

.btCadastrar{
    position: fixed;
    top: 69%;
    left: 28%;
    width: 55%;    
    z-index: 10;
    color: #afafaf;
    font-size: 70%;

}

.divSeparadorLogin{
    position: fixed;
    top: 73%;
    left: 20%;
    width: 62%;
    height: 0.2%;
    background-color: #d7d8da;
}

.txOu{
    position: fixed;
    top: 69.4%;
    left: 45%;
    width: 10%;
    color: black;
    background-color: white;
    text-align: center;
}





@import url(https://fonts.googleapis.com/css?family=Roboto:500);


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
    position: fixed;
  top: 78%;
  left: 21%;
  width: 60%;
  height: 6.1%;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 25%;
    margin-left: 25%;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 6% 15%;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}













.facebook-btn {
    position: fixed;
  top: 86%;
  left: 21%;
  width: 60%;
  height: 6.1%;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  .facebook-icon-wrapper {
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .facebook-icon { 
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text-facebook {
    float: right;
    margin: 6% 10%;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}



.cardCadastro{
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(46, 46, 46, 0.575);
    z-index: 10;
}

.subCardCadastro{
    position: fixed;
    height: 70%;
    width: 80%;
    top: 15%;
    left: 10%;
    background-color: white;
    border-radius: 2.2%;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    z-index: 11;
}


.divCadastroPessoaFisica{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: white;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #3880ff;
    border-top-left-radius: 2.2%;
    border-top-right-radius: 2.2%;
    padding-top: 30%;
    padding-left: 18%;
    color: #3880ff;
    font-size: 200%;
}
.txCadastroPessoaFisica{
    position: fixed;
    top: 25%;
    left: 25%;
}

.divCadastroPessoaJuridica{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    padding-top: 30%;
    padding-left: 12%;
    color: #3880ff;
    font-size: 200%;
}


.txCadastroPessoaJuridica{
    position: fixed;
    top: 60%;
    left: 20%;
}







.txCardNomeCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 20%;
    left: 20%;
    height: 2%;
    width: 10%;
    color: black;
    background-color: white;
    font-size: 70%;
    z-index: 10;
}
.tbCardNomeCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 22.7%;
    left: 18.2%;
    height: 5.5%;
    width: 50%;
    color: black;
    border-style: solid;
    border-color: transparent;
    --padding-top: 6%;
    z-index: 9;
}
.txCardNomeCadastroInvalido{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    visibility: hidden;
    top: 27%;
    left: 20%;
    height: 5%;
    width: 50%;
    color: red;
    font-size: 60%;
}


.txCardEmailCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 29%;
    left: 20%;
    height: 2%;
    width: 10%;
    color: black;
    background-color: white;
    font-size: 70%;
    z-index: 10;
}
.tbCardEmailCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 31.7%;
    left: 18.2%;
    height: 5.5%;
    width: 50%;
    color: black;
    border-style: solid;
    border-color: transparent;
    --padding-top: 6%;
    z-index: 9;
}
.txCardEmailCadastroInvalido{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 36%;
    left: 20%;
    height: 5%;
    width: 50%;
    color: red;
    font-size: 60%;
}


.txCardCNPJCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 38%;
    left: 20%;
    height: 2%;
    width: 20%;
    color: black;
    background-color: white;
    font-size: 70%;
    z-index: 10;
}
.tbCardCNPJCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 40.7%;
    left: 18%;
    height: 5.5%;
    width: 50%;
    color: black;
    border-style: solid;
    border-color: transparent;
    --padding-top: 10%;
    z-index: 9;

}
.txCardCNPJCadastroInvalido{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 45%;
    left: 20%;
    height: 5%;
    width: 50%;
    color: red;
    font-size: 60%;
}

.txCardSenhaCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 47%;
    left: 20%;
    height: 2%;
    width: 9%;
    color: black;
    background-color: white;
    font-size: 70%;
    z-index: 10;
}
.tbCardSenhaCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 49.7%;
    left: 18%;
    height: 5.5%;
    width: 50%;
    color: black;
    border-style: solid;
    border-color: transparent;
    --padding-top: 10%;
    z-index: 9;

}
.txCardSenhaCadastroInvalida{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 54%;
    left: 20%;
    height: 5%;
    width: 50%;
    color: red;
    font-size: 60%;
}

.divValidacaoSenha{
    position: fixed;
    top: 56%;
    left: 20%;
    height: 12%;
    width: 50%;
    border-style: solid;
    border-color: transparent;
    color: #afafaf;
    z-index: 9;
    font-size: 60%;
}


.validacaoDigitos, .validacaoLetrasNumeros, .validacaoLetrasM, .validacaoCaracEspeciais{
    opacity: 0%;
    visibility: hidden;
    position: relative;
    left: 10%;
}

.txValidacaoDigitos, .txValidacaoLetrasNumeros, .txValidacaoLetrasM, .txValidacaoCaracEspeciais{
    opacity: 0%;
    visibility: hidden;
    top: 5%;
    left: 10%;
    color: #afafaf;
}


.txCardConfirmarSenhaCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 70%;
    left: 20%;
    height: 2%;
    width: 25%;
    color: black;
    background-color: white;
    font-size: 70%;
    z-index: 10;
}
.tbCardConfirmarSenhaCadastro{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 72.7%;
    left: 18%;
    height: 5.5%;
    width: 50%;
    color: black;
    border-style: solid;
    border-color: transparent;
    --padding-top: 10%;
    z-index: 9;

}
.txCardConfirmarSenhaCadastroInvalida{
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 77%;
    left: 20%;
    height: 5%;
    width: 50%;
    color: red;
    font-size: 60%;
}