
<ion-content class="cardLogin" id="cardLogin">
  <ion-grid class="gridImgLogin">
    <ion-row>
      <ion-col>
        <img class="imgLogin" src="../../assets/imageLogin.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <p class="txLogin"><ion-text size="small"  color="primary">Email</ion-text></p>
        <ion-input placeholder="nome@dominio.com" [(ngModel)]="emailLogin"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <p><ion-text size="small"  color="primary">Senha</ion-text></p>
        <ion-input type="password" placeholder="********" [(ngModel)]="senhaLogin"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <ion-button expand="full" class="btEntrar" (click)="loginUser()">Entrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2.2">
        <ion-button size="small" fill="none" (click)="abrirCadastro()" class="btCadastrar">Não possui conta? Registre-se agora!</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="3.8">
        <ion-button size="small" fill="none" (click)="recuperarSenha()" class="btRecuperarSenha">Esqueceu sua senha?</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <div class="divSeparadorLogin"></div>
        <p class="txOu">ou</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <div class="google-btn" (click)="loginWithGoogle()">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
          </div>
          <p class="btn-text" (click)="loginWithGoogle()">Entrar com Google</p>
        </div>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <div class="facebook-btn" (click)="loginWithFacebook()">
          <div class="facebook-icon-wrapper">
            <img class="facebook-icon" src="../../assets/logoFacebook.png"/>
          </div>
          <p class="btn-text-facebook">Entrar com Facebook</p>
        </div>  
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


