<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-content class="card-background-page">

    <ion-card class="divPopUpInicialSlide" id="divPopUpInicialSlide">
      <ion-slides pager class="slidePopUpInicial">
        <ion-slide>
          <ion-card class="slidePopUpInicialItem">
            <ion-card-header>
              <h1>Olá, {{ nome_usuario }}!</h1>
              <h4>Seja bem vindo(a) ao <b>Controle de Estoque</b>!</h4>
            </ion-card-header>
            <ion-card-content>
              É um enorme prazer ter você aqui conosco!!
              <img src="../../assets/LogoInicial.png" class="logoPopUpInicial"/>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card class="slidePopUpInicialItem">
            <ion-card-header>
              <h1>Atenção!</h1>
            </ion-card-header>
            <ion-card-content>
              <p>Nosso aplicativo encontra-se em desenvolvimento, sendo assim, é normal que ocorra alguns bugs, mas estaremos correndo para arruma-los e entregar a melhor versão do aplicativo para você!</p>
              <p><br>Caso tenha dúvidas ou precise reportar algum bug, entre em contato conosco através dos seguintes meios:</p>
              <p><br><b>WhatsApp:</b> (11) 98309-3902</p>
              <p><b>E-mail:</b> Lucas.nds@hotmail.com</p>
              <p><br><b>Obrigado!</b></p>
              <button ion-button color="secondary" class="btFecharPopUp" (click)="fecharPopUp()" clear>Fechar</button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-card>





    <img src="../../assets/LogoInicial.png" class="logoInicial"/>

    <ion-slides pager class="slideInformativo" #mySlider1>
      <ion-slide >
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b class="txTituloDicaInfoAlert">Dica do dia:</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Se a vida lhe der limões, faça uma caipirinha.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dica do dia 2:</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Se a vida lhe der limões, faça uma caipirinha.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dica do dia 3:</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Se a vida lhe der limões, faça uma caipirinha.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>


    <ion-slides pager class="slideInformativo" #mySlider2>
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Importante!</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Nos siga em nossas redes sociais!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Importante 2!</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Nos siga em nossas redes sociais!
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Importante 3!</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Nos siga em nossas redes sociais!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>


    <ion-slides pager class="slideInformativo" #mySlider3>
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dúvidas?</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Entre em contato conosco pelo WhatsApp!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dúvidas 2?</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Entre em contato conosco pelo WhatsApp!
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dúvidas 3?</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Entre em contato conosco pelo WhatsApp!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>








    <ion-card class="divSearchBar">
      <ion-searchbar class="searchBarInicial" placeholder="Ex: Consultar produto..." animated>
      </ion-searchbar>
      <ion-list class="divListConsulta">
        <ion-list-header>
          Estoque
        </ion-list-header>
        <ion-item>Consultar/ Adicionar</ion-item>
        <ion-item>Excluir</ion-item>
        <ion-item>Editar</ion-item>
        
        <ion-list-header>
          Finanças
        </ion-list-header>
        <ion-item>Lucros</ion-item>

        <ion-list-header>
          Receitas
        </ion-list-header>
        <ion-item>Consultar/ Adicionar</ion-item>
        <ion-item>Excluir</ion-item>
        <ion-item>Editar</ion-item>

        <ion-list-header>
          Tabela Nutricional
        </ion-list-header>
        <ion-item>Consultar/ Adicionar</ion-item>
        <ion-item>Excluir</ion-item>
        <ion-item>Editar</ion-item>
      </ion-list>
    </ion-card>

  
  </ion-content>

</ion-content>
