<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="ion-padding">
     <ion-card>
       <ion-card-header>
         Line Chart
       </ion-card-header>
       <ion-card-content>
         <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
       </ion-card-content>
     </ion-card>
   </div>
 </ion-content>


<!-- 
  <ion-content class="card-background-page">


    <img src="../../assets/LogoInicial.png" class="logoInicial"/>

    <ion-slides pager class="slideInformativo" #mySlider1>
      <ion-slide >
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b class="txTituloDicaInfoAlert">Dica do dia:</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Se a vida lhe der limões, faça uma caipirinha.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dica do dia 2:</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Se a vida lhe der limões, faça uma caipirinha.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dica do dia 3:</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Se a vida lhe der limões, faça uma caipirinha.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>


    <ion-slides pager class="slideInformativo" #mySlider2>
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Importante!</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Nos siga em nossas redes sociais!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Importante 2!</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Nos siga em nossas redes sociais!
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Importante 3!</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Nos siga em nossas redes sociais!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>


    <ion-slides pager class="slideInformativo" #mySlider3>
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dúvidas?</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Entre em contato conosco pelo WhatsApp!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dúvidas 2?</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Entre em contato conosco pelo WhatsApp!
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cardInformativo">
          <ion-card-header>
            <b>Dúvidas 3?</b>
          </ion-card-header>
          <ion-card-content class="txDicaInfoAlert">
            Entre em contato conosco pelo WhatsApp!
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>








    <ion-card class="divSearchBar">
      <ion-searchbar class="searchBarInicial" placeholder="Ex: Consultar produto..." animated>
      </ion-searchbar>
      <ion-list class="divListConsulta">
        <ion-list-header>
          Estoque
        </ion-list-header>
        <ion-item>Consultar/ Adicionar</ion-item>
        <ion-item>Excluir</ion-item>
        <ion-item>Editar</ion-item>
        
        <ion-list-header>
          Finanças
        </ion-list-header>
        <ion-item>Lucros</ion-item>

        <ion-list-header>
          Receitas
        </ion-list-header>
        <ion-item>Consultar/ Adicionar</ion-item>
        <ion-item>Excluir</ion-item>
        <ion-item>Editar</ion-item>

        <ion-list-header>
          Tabela Nutricional
        </ion-list-header>
        <ion-item>Consultar/ Adicionar</ion-item>
        <ion-item>Excluir</ion-item>
        <ion-item>Editar</ion-item>
      </ion-list>
    </ion-card>

  
  </ion-content>

</ion-content> -->
