<div class="cardCadastroRealizado" id="cardCadastroRealizado">
  <ion-card-header>
    <h4><b>Cadastro realizado com sucesso !</b></h4>  
  </ion-card-header>
  <ion-card-content>
    <img src="../../assets/imageCadastroRealizado.png" class="imgSlidesInitial"/>
    <p>Encaminhamos um link para seu e-mail, para ativar sua conta !</p>
    <p class="txVemosBreve">Nos vemos em breve !</p>
  </ion-card-content>
  <ion-text class="btVoltarLogin" id="btVoltarLogin" (click)="voltarLogin()">Voltar para página inicial</ion-text>
</div>
